#info {
    background: rgb(80, 135, 180);
    color: #fff;
    text-align: center;
}

#info .container-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-products {
    margin: 20px;
}

.info-products img {
    width: 190px;
    height: 190px;
    border-radius: 10%;
    border: 8px solid #fff;
}
#blog h3,h4 {
    text-align: center;
}

#blog .container-blog {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

#blog article {
    margin: 15px;
}

#blog img {
    width: 100%;
    max-width: 280px;
}

@media (min-width:380px) {
    .info-products {
        width: 40%;
    }
}

@media (min-width:1024px) {
    .info-products {
        width: auto;
    }
}